In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
df1 = pd.read_csv('C:/Users/gunal/Desktop/DSE/csv_files/fifa.csv')
df2 = pd.read_csv('C:/Users/gunal/Desktop/DSE/csv_files/fifa_variable_information.csv')

In [3]:
def func1(dataframe):
    for i in range (0,len(dataframe)):
        a = dataframe[i]
        a = a[1:]
        if a[-1] == 'K':
            a = float(a[:-1]) * 1000
        elif a[-1] == 'M':
            a = float(a[:-1]) * 1000000
        else:
            a = float(a)
        dataframe[i] = a
    return dataframe

In [4]:
drop_value = df1['Value'].fillna('€0').copy()
drop_value = func1(drop_value)
print(drop_value)

0        1.105e+08
1          7.7e+07
2        1.185e+08
3          7.2e+07
4         1.02e+08
5          9.3e+07
6          6.7e+07
7            8e+07
8          5.1e+07
9          6.8e+07
10         7.7e+07
11        7.65e+07
12         4.4e+07
13           6e+07
14         6.3e+07
15         8.9e+07
16        8.35e+07
17         7.8e+07
18         5.8e+07
19        5.35e+07
20        5.15e+07
21           6e+07
22         3.8e+07
23        6.45e+07
24         2.7e+07
25         8.1e+07
26        6.95e+07
27        5.95e+07
28        6.95e+07
29         6.2e+07
           ...
18177        70000
18178        50000
18179        50000
18180        40000
18181        50000
18182        50000
18183            0
18184        40000
18185        50000
18186        60000
18187        40000
18188        60000
18189        60000
18190        60000
18191        50000
18192        50000
18193        50000
18194        50000
18195        60000
18196        60000
18197        60000
18198        60000
18199        70000
18200        60000
18201        60000
18202        60000
18203        60000
18204        60000
18205        60000
18206        60000
Name: Value, Length: 18207, dtype: object

In [ ]:
drop_wage = df1['Wage'].fillna('€0').copy()
drop_wage = func1(drop_wage)
print(drop_wage)

In [ ]:
drop_release = df1['Release Clause'].fillna('€0').copy()
drop_release = func1(drop_release)
print(drop_release)

In [ ]:
drop_joined = df1['Joined'].fillna('none').copy()

for i in range(0, len(drop_joined)):
    yr = drop_joined[i]
    yr = yr[-4:]
    
    if yr == 'none':
        yr = 0
    else:
        yr = int(yr)
        
    drop_joined[i] = yr

median = drop_joined.median()

for i in range(0,len(drop_joined)):
    
    if drop_joined[i] == 0:
        drop_joined[i] = int(median)

drop_joined

In [ ]:
drop_weight = df1['Weight'].fillna('0lbs').copy()

for i in range (0, len(drop_weight)):
    a = drop_weight[i]
    a = float(a[:-3])
    drop_weight[i] = float(a)

drop_weight

In [ ]:
drop_height = df1['Height'].fillna('0').copy()

drop_height = drop_height.str.replace(r"'", ".").astype('float')

drop_height

In [ ]:
drop_contract = df1['Contract Valid Until'].copy()
drop_contract = pd.to_datetime(drop_contract)
print(drop_contract)

In [ ]:
df1['Value'] = drop_value
df1['Wage'] = drop_wage
df1['Joined'] = drop_joined
df1['Contract Valid Until'] = drop_contract
df1['Height'] = drop_height
df1['Weight'] = drop_weight
df1['Release Clause'] = drop_release

In [ ]:
sns.distplot(df1['Overall'], kde = True, rug=False, color = 'r', bins = 10)

In [ ]:
column = ['Overall', 'Value', 'Wage', 'International Reputation', 'Height', 'Weight', 'Release Clause']
sns.pairplot(df1[column], size=3)

In [ ]:
mask = df1['Contract Valid Until'].dt.year == 2020

df = df1[mask].sort_values('Overall', ascending = False).head(n = 20)

print('average wage: ', df['Wage'].mean())
print('average age:  ', df['Age'].mean())



d = df['Value'].astype('float64')
e = df['Overall'].astype('float64')

correlation = e.corr(d)
print('Correlation : ',correlation)

In [ ]:


df = df1.sort_values('Overall',ascending = False).groupby('Position').head(5)
df = df.groupby('Position')

for a,b in df:
    print(a)
    print(b['Wage'].mean())

In [ ]:
df1['Name']